.dropdown
	background-color: #fff
	box-shadow: 0 2px 7px rgba(80,72,68,0.6)
	border-radius: 7px
	position: absolute
	top: 100%
	margin-top: 12px
	padding: 8px 0
	min-width: 130px
	opacity: 0
	visibility: hidden
	transform: translateY(10px)
	transition: $t300
	text-align: left
	z-index: 1
	cursor: default

	&__title
		padding: 2px 17px 10px
		color: #575757
		font-size: 15px
		font-weight: bold
		border-bottom: 1px solid #eaeaea

		&--red
			color: $cRed

	&:before
		content: ""
		position: absolute
		left: 13px
		top: -16px
		width: 0
		height: 0
		opacity: 0.05
		border-width: 8px
		border-style: solid
		border-color: transparent transparent #000 transparent

	&:after
		content: ""
		position: absolute
		left: 14px
		top: -13px
		width: 0
		height: 0
		border-width: 7px
		border-style: solid
		border-color: transparent transparent #fff transparent

	&--right
		right: 0

		&:before
			left: auto
			right: 13px

		&:after
			left: auto
			right: 14px

	&--cols
		display: flex

	&__col
		width: 50%
		padding: 0 15px

	&--big
		min-width: 580px
		padding: 3px
		box-shadow: 0 4px 12px rgba(80,72,68,0.6)


._active
	& + .dropdown
		opacity: 1
		visibility: visible
		transform: translateY(0)

._active
	.dropdown
		opacity: 1
		visibility: visible
		transform: translateY(0)

.dropdown-nav
	display: block

	&__item
		// margin-top: 5px

	&__link
		color: #575757
		display: block
		padding: 8px 17px
		text-decoration: none
		white-space: nowrap
		transition: $t300

		&:hover
			background-color: rgba(0,0,0,0.05)
			color: #000

.community-tabs
	background-color: #fff
	box-shadow: 0 1px 5px rgba(80,72,68,0.23)
	border-radius: 7px
	overflow: hidden

	&__tabs
		padding: 15px 20px 10px 25px

	&__btns
		display: flex

	&__tab
		display: none

		&._active
			display: block

	&__btn
		width: 50%

		A
			display: block
			height: 54px
			line-height: 54px
			font-size: 18px
			color: #fff
			background-color: $cGrayD
			text-decoration: none
			text-align: center
			transition: $t300
			box-shadow: inset -3px -3px 7px rgba(0,0,0,0.35)
			font-family: $titleFont

		&._active
			A
				background-color: #fff
				color: #000
				box-shadow: none

.community-post
	margin-bottom: 20px

	&__date
		font-size: 14px
		color: $cGrayD
		margin-bottom: 5px

	&__text
		font-size: 14px
		margin-bottom: 8px

.product
	display: flex
	flex-direction: column
	background-color: #fff
	box-shadow: 0 1px 5px rgba(80,72,68,0.23)
	border-radius: 7px
	overflow: hidden
	height: 100%

	&--edit
		.product__header-label
			right: auto
			left: 15px

	&--full
		margin-bottom: 20px
		.product__header
			border-bottom: 1px solid #f3f3f3
			&-label
				right: auto
				left: 30px
				top: 10px

		.product__body
			display: flex
			padding: 30px

		.product__body-price
			position: static
			height: auto
			line-height: inherit
			background: none
			padding: 0
			min-width: 0
			margin-top: 10px
			display: inline-block

	&__header
		flex-grow: 1
		padding: 32px 15px 10px
		position: relative

		&-fav
			position: absolute
			left: 15px
			top: 0

		&-del
			position: absolute
			right: 15px
			top: 8px

		&-label
			position: absolute
			right: 15px
			top: 8px
			font-size: 13px
			color: $cGrayD

			.label
				margin-left: 5px

		&-brand
			font-size: 13px
			color: $cGrayDText

		&-title
			font-size: 16px
			font-weight: bold
			margin-bottom: 5px

		&-info
			font-size: 13px
			color: $cGrayD

	&__body
		position: relative
		display: block
		&-img
			max-height: 200px
			text-align: center
			overflow: hidden
			IMG
				width: 100%
				display: inline-block

		&-price
			position: absolute
			right: 0
			bottom: 0
			min-width: 65px
			padding: 0 15px
			height: 45px
			line-height: 45px
			text-align: center
			background-color: #fff
			font-size: 18px
			font-weight: 500
			color: #000

		&-info
			padding-left: 30px

	&__footer
		padding: 13px 15px
		position: relative

		.link
			font-size: 14px

		.btn--xs
			font-size: 14px

			+max-screen($screenM)
				font-size: 13px
				padding-left: 8px
				padding-right: 8px

		&--cols
			display: flex
			justify-content: space-between
			align-items: center

		&-user
			position: absolute
			right: 15px
			top: 50%
			margin-top: -17px

			A
				display: inline-block
				border-radius: 3px
				overflow: hidden
				IMG
					display: block
					width: 35px

.product-status
	display: flex
	align-items: center
	background-color: #f8f8f8
	padding: 6px 15px
	margin: 8px -15px

	&__text
		flex-grow: 1
		color: $cGrayD
		font-size: 13px

	&__select
		flex-shrink: 0
		width: 100px

.dropdown-menu
	display: flex

	&__left
		width: 230px
		flex-shrink: 0
		border-right: 1px solid #f3f3f3

	&__right
		flex-grow: 1

	&__tab
		display: none

		&._active
			display: block

.dropdown-menu-nav
	&__item
		display: block
		border-radius: 5px 0 0 5px
		cursor: pointer
		position: relative
		padding: 8px 30px 8px 40px
		transition: $t300

		&:hover
			background-color: rgba(0,0,0,0.05)

		&._active
			background-color: $cRedL
			box-shadow: inset -6px 0 4px -4px rgba(0,0,0,0.3)
			@extend .iconic--down-arrow
			&:after
				font-size: 15px
				position: absolute
				right: 12px
				top: 50%
				margin-top: -7px
				display: inline-block
				transform: rotate(-90deg)
				color: #fff
				transition: $t300
				@extend .iconic

			.dropdown-menu-nav__item-title
				color: #fff

			.dropdown-menu-nav__item-numbers
				color: #fefefe

			.dropdown-menu-nav__item-icon
				.iconic
					color: #fff

		&-icon
			position: absolute
			left: 0
			top: 4px
			width: 40px
			text-align: center

			IMG
				display: inline-block
				max-width: 36px

		&-title
			font-size: 17px
			font-weight: 500
			color: #000
			font-family: $titleFont

		&-numbers
			font-size: 14px
			color: $cGray

.dropdown-menu-inner
	display: flex
	flex-wrap: wrap

	&__item
		width: 50%
		padding: 0 3px

	&__link
		text-decoration: none
		display: block
		border-radius: 5px
		cursor: pointer
		position: relative
		padding: 8px
		transition: $t300

		&:hover
			background-color: rgba(0,0,0,0.05)

	&__title
		font-size: 17px
		font-weight: 500
		color: #000
		font-family: $titleFont
		display: block

	&__numbers
		font-size: 14px
		color: $cGray
		display: block

.comment
	display: flex
	margin-bottom: 20px

	&__ava
		flex-shrink: 0
		width: 35px
		border-radius: 3px
		overflow: hidden
		height: 35px
		margin-right: 10px
		IMG
			width: 100%

	&__header
		display: flex

		&-name
			flex-grow: 1
			font-weight: bold
			font-size: 14px

		&-time
			flex-shrink: 0
			margin-left: 15px
			font-size: 12px
			color: $cGrayD

	&__info
		flex-grow: 1
		&-text
			margin-top: 3px
			font-size: 14px
			line-height: 20px

.comment-add
	&__textarea
		margin-bottom: 10px
		.textarea
			font-size: 14px

.review
	margin-bottom: 20px

	&__ava
		flex-shrink: 0
		width: 35px
		border-radius: 3px
		overflow: hidden
		height: 35px
		margin-right: 10px
		IMG
			width: 100%

	&__header
		display: flex

	&__text
		margin-top: 6px
		font-size: 14px
		line-height: 20px

	&__info
		display: flex
		&-time
			flex-grow: 1
			margin-right: 10px
			font-size: 12px
			color: $cGrayD

		&-rating
			flex-shrink: 0

	&__content
		flex-grow: 1
		&-name
			font-weight: bold
			font-size: 14px

.sidebar-nav
	padding: 25px 0

	&__item
		margin-bottom: 10px

	&__link
		padding: 10px 30px
		text-decoration: none
		display: block
		position: relative
		transition: $t300

		&.active
			background-color: $cGreen!important
			SPAN
				color: #fff!important

		&--dropdown
			padding-right: 40px
			@extend .iconic--down-arrow
			&:after
				font-size: 14px
				position: absolute
				right: 20px
				top: 50%
				margin-top: -7px
				display: inline-block
				transform: rotate(0)
				color: $cGrayDText
				transition: $t300
				@extend .iconic

			&._open
				&:after
					transform: rotate(180deg)

		&:hover
			background-color: rgba(0,0,0,0.05)
			SPAN
				border-color: transparent

		SPAN
			font-size: 18px
			font-weight: 500
			color: #000
			font-family: $titleFont
			border-bottom: 1px dashed $cGray
			padding-bottom: 1px
			transition: $t300

.sidebar-nav-sub
	margin: 5px 0 0
	display: none

	&__item
		margin-bottom: 5px

	&__link
		padding: 8px 30px 8px 45px
		text-decoration: none
		display: block
		position: relative
		transition: $t300
		font-size: 18px
		font-weight: 500
		color: #000
		font-family: $titleFont

		&:hover
			background-color: rgba(0,0,0,0.05)

		&.active
			background-color: $cGreen!important
			color: #fff!important

.pagination
	display: block
	text-align: center

	&-wr
		margin: 35px 0

	&__item
		display: inline-block
		vertical-align: middle
		margin: 0 3px

		> SPAN
			font-weight: bold
			font-size: 18px
			color: $cGrayD

	&__link
		display: block
		width: 30px
		height: 30px
		border: 2px solid $cGreen
		border-radius: 4px
		line-height: 26px
		font-family: $titleFont
		font-size: 18px
		color: $cGreen
		text-align: center
		text-decoration: none
		font-weight: bold
		transition: $t300

		&--big
			width: 60px

		&:hover
			color: $cGreenL
			border-color: $cGreenL

		&.active
			color: $cGrayD
			border-color: $cGrayD

.top-alert
	&-wr
		&--green
			background-color: $cGreen
			color: #fff

	display: flex
	align-items: center
	padding: 8px 0 10px

	&__text
		flex-grow: 1
		font-size: 15px
		font-family: $titleFont

		P
			margin-bottom: 0
			B
				font-size: 16px

	&__close
		flex-shrink: 0
		padding-left: 20px
		.iconic
			font-size: 30px
			color: #fff
			&:hover
				opacity: 0.9

.favorite-tabs

	&__btns
		margin-bottom: 15px

	&__tab
		display: none

		&._active
			display: block

	&__btn
		display: inline-block
		vertical-align: middle
		margin-right: 15px

		A
			display: block
			font-size: 19px
			color: #fff
			color: $cGrayD
			text-decoration: none
			transition: $t300
			font-family: $titleFont
			font-weight: 500
			padding: 5px 8px
			border: 2px solid transparent
			border-radius: 5px

			&:hover
				color: $cGrayDText
				SPAN
					border-color: $cGrayDText

			SPAN
				border-bottom: 1px dashed $cGrayD

		&._active
			A
				border-color: $cRed
				color: $cRed
				box-shadow: none

				SPAN
					border-color: transparent

.user
	display: flex
	border-radius: 7px
	background-color: #fff
	padding: 20px
	border: 1px solid rgba(0,0,0,0.1)
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)

	+max-screen($screenM)
		padding: 10px

	&--big
		.user__ava
			width: 90px
			height: 90px

		.user__header
			margin-bottom: 0

	&__ava
		flex-shrink: 0
		width: 70px
		height: 70px
		overflow: hidden
		border-radius: 5px
		IMG
			display: block
			width: 100%

	&__date
		font-size: 13px
		color: $cGray
		margin-bottom: 17px

	&__info
		padding-left: 20px
		flex-grow: 1
		min-width: 0

		&-btn
			.btn
				height: 36px
				line-height: 36px

	&__header
		display: flex
		align-items: center
		margin-bottom: 12px

		&-name
			font-size: 16px
			font-weight: bold
			padding-right: 10px
			color: $cGrayDText
			flex-grow: 1
			min-width: 0

			SPAN
				display: block
				white-space: nowrap
				overflow: hidden
				text-overflow: ellipsis

		&-status
			text-align: right
			flex-shrink: 0

			.label
				margin-right: 6px

.float-img
	float: left
	margin: 0 25px 20px 0

	&--right
		float: right
		margin: 0 0 20px 25px

.text-page
	background-color: #fff
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	border: 1px solid rgba(0,0,0,0.13)
	padding: 30px

	P
		font-size: 18px
		font-weight: 300
		font-family: $titleFont
		margin-bottom: 20px
		line-height: 24px

	blockquote
		font-size: 14px
		line-height: 18px
		padding: 18px 20px
		margin: 0 0 20px
		color: $cGrayD
		background-color: #efefef
		border-radius: 7px

.open-info
	margin-bottom: 20px

	&__btn
		font-size: 16px
		color: #fff
		font-weight: bold
		padding: 7px 50px 7px 20px
		line-height: 22px
		font-family: $titleFont
		background-color: $cGreen
		border-radius: 7px
		position: relative
		z-index: 1
		cursor: pointer
		@extend .iconic--down-arrow
		&:after
			@extend .iconic
			position: absolute
			right: 20px
			top: 50%
			margin-top: -11px
			color: #fff
			display: block
			width: 22px
			height: 22px
			border: 2px solid #fff
			text-align: center
			line-height: 18px
			font-size: 12px
			border-radius: 50%
			transition: 0.3s

		&._open
			&:after
				transform: rotate(-180deg)

	&__text
		background-color: #efefef
		padding: 23px 20px 18px
		font-size: 16px
		font-weight: 300
		line-height: 22px
		font-family: $titleFont
		margin-top: -7px
		border-radius: 0 0 7px 7px
		display: none

.blog
	background-color: #fff
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	border: 1px solid rgba(0,0,0,0.13)
	padding: 30px
	margin-bottom: 30px
	display: flex

	&__ava
		width: 100px
		height: 100px
		border-radius: 5px
		overflow: hidden
		flex-shrink: 0
		IMG
			width: 100%

	&__content
		padding-left: 20px
		flex-grow: 1

		.h4
			font-weight: normal

	&__label
		margin-bottom: 5px
		SPAN
			font-size: 13px
			color: $cGreen
			padding: 5px 9px
			background-color: #efefef
			border-radius: 4px
			display: inline-block

	&__date
		font-size: 13px
		color: $cGray
		margin-bottom: 3px

	&__username
		font-size: 16px
		color: $cGrayDText
		margin-bottom: 10px
		font-weight: bold

	&__text
		P
			margin-bottom: 20px
			font-size: 14px
			line-height: 18px

.blog-comments
	background-color: #fff
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	border: 1px solid rgba(0,0,0,0.13)
	padding: 30px
	margin-bottom: 30px

	.h3
		font-weight: 300

.blog-comment
	&-wr
		.blog-comment-wr
			margin-left: 30px

			.blog-comment-wr
				margin-left: 60px

				.blog-comment-wr
					margin-left: 90px

					.blog-comment-wr
						margin-left: 120px

	background-color: #f9f9f9
	border-radius: 7px
	padding: 20px
	margin-bottom: 30px
	display: flex

	&__ava
		width: 100px
		height: 100px
		border-radius: 5px
		overflow: hidden
		flex-shrink: 0
		IMG
			width: 100%

	&__content
		padding-left: 20px
		flex-grow: 1

	&__title
		font-size: 16px
		font-weight: bold
		color: $cGrayDText
		margin-bottom: 5px

		.label
			margin-left: 10px

	&__date
		font-size: 13px
		color: $cGray
		margin-bottom: 8px

	&__text
		font-size: 14px
		line-height: 20px
		margin-bottom: 8px

	&__btns
		.link
			font-size: 14px
			margin-right: 20px


.content
	display: flex
	padding: 0 0 30px

	&__body
		flex-grow: 1
		padding-right: 20px

	&__sidebar
		width: 300px
		flex-shrink: 0
		position: relative

		&-item
			background-color: #fff
			margin-bottom: 20px
			box-shadow: 0 1px 5px rgba(80,72,68,0.23)
			border-radius: 7px

			&--padd
				padding: 20px

	&--leftbar
		.main-catalog__body
			padding-right: 0
			padding-left: 20px


.sticky-sidebar
	&._scroll
		position: absolute
		top: 20px
		width: 300px

.yourad
	background-color: #fff
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	border: 1px solid rgba(0,0,0,0.13)
	padding: 30px 15px
	margin-bottom: 30px
	display: flex

	&__col
		width: 50%
		margin: 0 15px

	&__title
		border-radius: 7px 7px 0 0
		height: 80px
		line-height: 80px
		font-size: 25px
		font-weight: bold
		font-family: $titleFont
		color: #fff
		text-transform: uppercase
		text-align: center

		&--red
			background-color: $cRed

		&--green
			background-color: $cGreen

	&__items
		display: flex
		padding: 20px 10px
		background-color: #f9f9f9
		border-radius: 0 0 7px 7px

	&__item
		width: 50%
		margin: 0 10px

.pay
	display: flex
	background-color: #f9f9f9
	padding: 18px
	align-items: center
	margin-bottom: 25px
	border-radius: 7px

	&__price
		flex-shrink: 0

	&__text
		text-align: right
		flex-grow: 1
		padding-left: 15px
		font-weight: bold
		font-size: 18px
		color: $cGrayDText
		font-family: $titleFont
		line-height: 26px