@charset "UTF-8"

@font-face 
    font-family: 'Lato'
    src: url('../fonts/lato/Lato-Regular.eot')
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/Lato-Regular.woff2') format('woff2'),url('../fonts/lato/Lato-Regular.woff') format('woff'),url('../fonts/lato/Lato-Regular.ttf') format('truetype'),url('../fonts/lato/Lato-Regular.svg#Lato-Regular') format('svg')
    font-weight: normal
    font-style: normal

@font-face
    font-family: 'Lato'
    src: url('../fonts/lato/Lato-Bold.eot')
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/Lato-Bold.woff2') format('woff2'),url('../fonts/lato/Lato-Bold.woff') format('woff'),url('../fonts/lato/Lato-Bold.ttf') format('truetype'),url('../fonts/lato/Lato-Bold.svg#Lato-Bold') format('svg')
    font-weight: bold
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/lato/Lato-Light.eot')
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/Lato-Light.woff2') format('woff2'),url('../fonts/lato/Lato-Light.woff') format('woff'),url('../fonts/lato/Lato-Light.ttf') format('truetype'),url('../fonts/lato/Lato-Light.svg#Lato-Light') format('svg')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Lato'
    src: url('../fonts/lato/Lato-Medium.eot')
    src: url('../fonts/lato/Lato-Medium.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/Lato-Medium.woff2') format('woff2'),url('../fonts/lato/Lato-Medium.woff') format('woff'),url('../fonts/lato/Lato-Medium.ttf') format('truetype'),url('../fonts/lato/Lato-Medium.svg#Lato-Medium') format('svg')
    font-weight: 500
    font-style: normal

@font-face
    font-family: 'Lato'
    src: url('../fonts/lato/Lato-Semibold.eot')
    src: url('../fonts/lato/Lato-Semibold.eot?#iefix') format('embedded-opentype'),url('../fonts/lato/Lato-Semibold.woff2') format('woff2'),url('../fonts/lato/Lato-Semibold.woff') format('woff'),url('../fonts/lato/Lato-Semibold.ttf') format('truetype'),url('../fonts/lato/Lato-Semibold.svg#Lato-Semibold') format('svg')
    font-weight: 600
    font-style: normal

// ----------------------------------------------------------------------
// General styles
// ----------------------------------------------------------------------

*,
*:after,
*:before
    box-sizing: border-box


HTML,
BODY
    height: 100%
    min-width: $minW
    
BODY
    font-family:  $baseFont
    background: $cBgGray
    //font-size: 13px
    //line-height: 20px


INPUT,
TEXTAREA,
BUTTON
    font-family: $baseFont
    outline: none 
    border: 0
    background-color: transparent
    padding: 0
    line-height: normal
    -webkit-appearance: none
    border-radius: 0

    &:focus
        outline: none


TEXTAREA
    resize: vertical

UL, OL
    margin: 0
    padding: 0  
    list-style: none 

P
    margin: 0

IMG
    max-width: 100%

h1,h2,h3,h4,h5,h6
    font-family: "Lato"

.text-center
    text-align: center

*:focus
    outline: none

//::selection
    background: red
    color: #fff
    text-shadow: none

::-webkit-scrollbar-track
    background: transparent

::-webkit-scrollbar
    width: 12px

::-webkit-scrollbar-thumb
    background-color: $cGreen
    cursor: pointer


