@charset "UTF-8";
@font-face {
    font-family: "iconic";
    src: url('../fonts/iconic.eot');
    src: url('../fonts/iconic.eot?#iefix') format('eot'),
    url('../fonts/iconic.woff') format('woff'),
    url('../fonts/iconic.ttf') format('truetype'),
    url('../fonts/iconic.svg#iconic') format('svg');
}

@mixin iconic-styles {
    font-family: "iconic";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    color: #000;
}

.iconic {
    @include iconic-styles;
}

@function iconic-char($filename) {
    $char: "";

    @if $filename == add {
    $char: "\E001";
}
    @if $filename == baby {
    $char: "\E002";
}
    @if $filename == box {
    $char: "\E003";
}
    @if $filename == boy {
    $char: "\E004";
}
    @if $filename == cake {
    $char: "\E005";
}
    @if $filename == cancel {
    $char: "\E006";
}
    @if $filename == comment {
    $char: "\E007";
}
    @if $filename == cross {
    $char: "\E008";
}
    @if $filename == down-arrow {
    $char: "\E009";
}
    @if $filename == download-box {
    $char: "\E00A";
}
    @if $filename == eye {
    $char: "\E00B";
}
    @if $filename == gender {
    $char: "\E00C";
}
    @if $filename == girl {
    $char: "\E00D";
}
    @if $filename == language {
    $char: "\E00E";
}
    @if $filename == like {
    $char: "\E00F";
}
    @if $filename == location {
    $char: "\E010";
}
    @if $filename == lock {
    $char: "\E011";
}
    @if $filename == logout {
    $char: "\E012";
}
    @if $filename == man {
    $char: "\E013";
}
    @if $filename == message {
    $char: "\E014";
}
    @if $filename == one {
    $char: "\E015";
}
    @if $filename == photo {
    $char: "\E016";
}
    @if $filename == search {
    $char: "\E017";
}
    @if $filename == search2 {
    $char: "\E018";
}
    @if $filename == soc-fb {
    $char: "\E019";
}
    @if $filename == soc-inst {
    $char: "\E01A";
}
    @if $filename == soc-tw {
    $char: "\E01B";
}
    @if $filename == star {
    $char: "\E01C";
}
    @if $filename == tick {
    $char: "\E01D";
}
    @if $filename == verified {
    $char: "\E01E";
}

@return $char;
}

@mixin iconic($filename, $insert: after, $extend: true) {
&:#{$insert} {

    content: iconic-char($filename);
}
}

.iconic--add {
    @include iconic(add);
}
.iconic--baby {
    @include iconic(baby);
}
.iconic--box {
    @include iconic(box);
}
.iconic--boy {
    @include iconic(boy);
}
.iconic--cake {
    @include iconic(cake);
}
.iconic--cancel {
    @include iconic(cancel);
}
.iconic--comment {
    @include iconic(comment);
}
.iconic--cross {
    @include iconic(cross);
}
.iconic--down-arrow {
    @include iconic(down-arrow);
}
.iconic--download-box {
    @include iconic(download-box);
}
.iconic--eye {
    @include iconic(eye);
}
.iconic--gender {
    @include iconic(gender);
}
.iconic--girl {
    @include iconic(girl);
}
.iconic--language {
    @include iconic(language);
}
.iconic--like {
    @include iconic(like);
}
.iconic--location {
    @include iconic(location);
}
.iconic--lock {
    @include iconic(lock);
}
.iconic--logout {
    @include iconic(logout);
}
.iconic--man {
    @include iconic(man);
}
.iconic--message {
    @include iconic(message);
}
.iconic--one {
    @include iconic(one);
}
.iconic--photo {
    @include iconic(photo);
}
.iconic--search {
    @include iconic(search);
}
.iconic--search2 {
    @include iconic(search2);
}
.iconic--soc-fb {
    @include iconic(soc-fb);
}
.iconic--soc-inst {
    @include iconic(soc-inst);
}
.iconic--soc-tw {
    @include iconic(soc-tw);
}
.iconic--star {
    @include iconic(star);
}
.iconic--tick {
    @include iconic(tick);
}
.iconic--verified {
    @include iconic(verified);
}