.btn
    display: inline-block
    box-sizing: border-box
    vertical-align: middle
    text-align: center
    cursor: pointer
    background: transparent
    text-decoration: none
    position: relative
    user-select: none
    border-radius: 7px
    transition: $t300

    font-size: inherit
    padding: 0

        
    &:hover
        & > SPAN
            border-color: transparent

    &--red
        background-color: $cRed
        color: #fff
        &:hover
            background-color: $cRedL

    &--red-l
        background-color: $cRedL
        color: #fff
        &:hover
            background-color: $cRed

    &--green
        background-color: $cGreen
        color: #fff
        &:hover
            background-color: $cGreenL

    &--gray
        background-color: $cGrayD
        color: #fff
        &:hover
            background-color: $cGray

    &--green-l
        background-color: $cGreenL
        color: #fff
        &:hover
            background-color: $cGreen

    

    &--o-green
        color: $cGreen
        border: 2px solid $cGreen
        &:hover
            color: $cGreen
            border-color: $cGreenL

    &--showmore
        height: 42px
        line-height: 42px
        width: 152px
        border-radius: 20px
        font-family: $titleFont
        font-size: 16px
        color: #fff

        .iconic
            display: inline-block
            vertical-align: middle
            margin-right: 10px
            font-size: 24px
            color: #fff

    &--form
        height: 44px
        line-height: 44px
        padding: 0 28px
        font-size: 16px

    &--img
        IMG
            display: block
        &:hover
            opacity: 0.9

    /* sizes */

    /* colors */

.ico-btn
    display: inline-block
    vertical-align: middle
    cursor: pointer
    background: transparent
    text-decoration: none
    position: relative
    user-select: none
    transition: $t300

.btn-fav
    display: block
    width: 27px
    height: 27px
    line-height: 27px
    background-color: $cGreen
    color: #fff
    font-size: 27px
    border-radius: 0 0 3px 3px
    transition: $t150

    &:after
        display: inline-block

    &:active
        &:after
            transform: scale(0.9)

    &._active
        color: #6c851f

