// ----------------------------------------------------------------------
// Textual elements
// ----------------------------------------------------------------------


.h1
    font-size: 45px
    margin-bottom: 35px
    color: #000
    font-weight: 300
    margin-top: 0

.h2
    font-size: 35px
    margin-bottom: 15px
    color: #000
    font-weight: 300
    margin-top: 0

.h3
    font-size: 25px
    margin-bottom: 15px
    color: #000
    font-weight: 500
    margin-top: 0

    &--mrg25
        margin-bottom: 25px

.h4
    font-size: 18px 
    font-weight: bold
    margin-bottom: 10px
    color: #000
    margin-top: 0

.h5
    font-size: 16px 
    font-weight: bold
    margin-bottom: 10px
    color: $cGrayDText
    margin-top: 0


.h6

.subtitle

.list-def
    font-size: 18px
    font-family: $titleFont
    font-weight: 300

    LI
        margin-bottom: 5px
        position: relative
        padding-left: 15px
        &:before
            content: ""
            position: absolute
            top: 10px
            left: 0
            width: 5px
            height: 5px
            border-radius: 50%
            background-color: #000


.typography

    //@extend .h1
    //@extend .h2
    //@extend .h3
    //@extend .h4
    //@extend .h5
    //@extend .h6

    p

    a


