.page-profile
	.main-catalog__sidebar
		width: 300px
		flex-shrink: 0

.profile-card
	&__title
		color: $cGrayDText
		font-size: 20px
		font-weight: bold
		margin-bottom: 10px

	&__dopinfo
		color: $cGrayD
		font-size: 13px
		text-align: center
		margin: 10px 0
		P
			margin-bottom: 5px

	&__btns
		.btn+.btn
			margin-top: 5px

	&__info
		display: flex
		margin-bottom: 10px

		&-ava
			flex-shrink: 0
			width: 100px
			height: 100px
			overflow: hidden
			border-radius: 7px

			IMG
				width: 100%
				border-radius: 7px

		&-text
			padding-left: 10px
			P
				margin-bottom: 5px
				font-size: 13px
				color: $cGrayD

				.circle
					display: inline-block
					font-size: 10px
					font-family: $titleFont
					height: 21px
					width: 21px
					text-align: center
					line-height: 16px
					border: 2px solid $cGreen
					border-radius: 50%
					margin-top: -2px
					font-weight: 700

				.iconic--boy,
				.iconic--girl
					font-size: 15px
					color: $cGrayD
					position: relative
					top: 3px
					margin-right: -1px

	&__rating
		background-color: #f8f8f8
		text-align: center
		border-radius: 7px
		text-align: center
		padding: 12px 10px

		> DIV
			display: inline-block
			vertical-align: middle

		&-numbers
			font-size: 13px
			color: $cGrayDText
			font-weight: bold
			margin-left: 5px

.profile-menu
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	background-color: #fff
	border-radius: 7px
	padding: 35px 15px
	display: flex
	align-items: center

	&__nav
		flex-grow: 1

	&__exit
		flex-shrink: 0
		padding: 0 15px

.profile-nav
	display: flex

	&__item
		flex-grow: 1
		padding-right: 5px

	&__link
		font-size: 18px
		font-weight: 300
		display: inline-block
		text-decoration: none
		color: $cGreen
		padding: 8px 16px
		border: 2px solid transparent
		font-family: $titleFont
		border-radius: 11px
		transition: $t300

		+max-screen($screenM)
			padding: 8px

		&:hover
			color: $cGreenL

		&._active
			font-weight: 600
			border-color: $cGreen

.profile-setting
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	background-color: #fff
	border-radius: 7px
	padding: 60px 50px
	margin-top: 20px

	&__row
		margin-bottom: 28px
		&:last-child
			margin-bottom: 0

		.btn
			margin-left: 0
			min-width: 100px
			border-radius: 4px!important

.profile-edit
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	background-color: #fff
	border-radius: 7px
	padding: 30px
	margin-top: 20px

	.form-row
		margin-bottom: 0
		.btn--s
			min-width: 100px

	&__ava
		&-img
			width: 72px
			height: 72px
			border-radius: 4px
			overflow: hidden
			IMG
				display: block
				border-radius: 4px
				width: 100%

		.profile-edit__row-btn
			padding-left: 0!important
			padding-right: 25px!important

		.profile-edit__row--cols
			align-items: center

			+max-screen($screenM)
				align-items: flex-start

			.profile-edit__row-input
				font-size: 14px

		+max-screen($screenM)
			.form-row
				.form-row.profile-edit__row--cols
					display: block
					.profile-edit__row-btn
						padding-right: 0!important
						margin-bottom: 10px

					.profile-edit__row-input
						min-height: 32px

	&__row
		margin-bottom: 30px
		padding: 30px
		background-color: #f9f9f9
		border-radius: 4px

		.h3
			margin-top: -5px
			margin-bottom: 20px

		&--cols
			display: flex

			.profile-edit__row-input
				flex-grow: 1

			.profile-edit__row-btn
				flex-shrink: 0
				padding-left: 30px

				.btn
					text-transform: none
					font-weight: 600
					min-width: 160px
					margin: 0
					display: block
					margin-top: 1px

					&--mrgt
						margin-top: 25px


		&--inf
			.profile-edit__row-input
				.textarea
					height: 226px

			.profile-edit__row-btn
				width: 350px
				.form-row
					margin-bottom: 20px
					&:last-child
						margin-bottom: 0

.messages
	background-color: #fff
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	padding: 30px

	&__search
		margin-bottom: 20px

	&-item
		padding: 20px
		background-color: #f9f9f9
		display: flex
		border-radius: 7px
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0

		&__ava
			width: 100px
			height: 100px
			border-radius: 5px
			overflow: hidden
			flex-shrink: 0
			IMG
				width: 100%
				border-radius: 5px

		&__info
			flex-grow: 1
			padding-left: 20px

			&-date
				font-size: 13px
				color: $cGrayD

			&-text
				font-size: 14px
				line-height: 18px
				margin-bottom: 5px

			&-btns
				.btn
					margin-right: 10px

		&__header
			display: flex
			align-items: center
			margin-bottom: 5px

			&-username
				flex-grow: 1
				font-size: 16px
				color: $cGrayDText
				font-weight: bold

				.label
					margin-left: 5px

			&-time
				font-size: 13px
				color: $cGrayD
				flex-shrink: 0
				padding-left: 20px

.chat
	box-shadow: 0 2px 4px rgba(80,72,68,0.18)
	border-radius: 7px
	border: 1px solid rgba(0,0,0,0.13)
	margin: 25px 0

	&__header
		padding: 20px 30px
		border-radius: 7px 7px 0 0 
		background-color: #f9f9f9
		border-bottom: 1px solid rgba(0,0,0,0.13)
		display: flex
		align-items: center

		&-user,
		&-back
			flex-shrink: 0

		&-search
			flex-grow: 1
			padding: 0 5%

	&-dateline
		margin-bottom: 30px
		text-align: center
		SPAN
			display: inline-block
			background-color: #ebebeb
			border-radius: 8px
			padding: 0 8px
			height: 20px
			line-height: 20px
			font-size: 12px
			color: $cGrayD

	&-user
		display: flex
		&__ava
			flex-shrink: 0
			width: 48px
			border-radius: 5px
			overflow: hidden
			height: 48px
			IMG
				width: 100%
				border-radius: 5px

		&__info
			flex-grow: 1
			padding-left: 20px

			&-name
				font-size: 16px
				color: $cGrayDText
				font-weight: bold

			&-btns
				margin-top: 5px
				.btn
					margin-right: 8px


	&__body
		padding: 25px 30px 20px
		background-color: #fff

		&-inner
			min-height: 200px
			max-height: 640px
			padding-right: 30px
			overflow-y: auto

			&::-webkit-scrollbar
				width: 6px

			&::-webkit-scrollbar-thumb
				background-color: $cGrayD

		&-status
			font-size: 13px
			color: $cGrayD
			text-align: center

	&__footer
		padding: 20px 30px
		border-top: 1px solid rgba(0,0,0,0.13)
		background-color: #fff
		border-radius: 0 0 7px 7px
		display: flex

		&-input
			flex-grow: 1

		&-btns
			flex-shrink: 0

			.btn
				width: 44px
				margin-right: 0
				padding: 0

				.btn-icon__ico
					margin-right: 0

				.iconic--attach
					font-size: 26px!important

.chat-mess
	display: flex
	background-color: #f9f9f9
	padding: 20px
	border-radius: 7px
	margin-bottom: 30px
	position: relative

	&:after
		content: ""
		position: absolute
		bottom: -22px
		left: 45px
		border-width: 11px
		border-style: solid
		border-color: #f9f9f9 transparent transparent transparent
		width: 0
		height: 0

	&--answer
		margin-left: 30px
		&:after
			left: auto
			right: 45px

	&__ava
		flex-shrink: 0
		width: 48px
		border-radius: 5px
		overflow: hidden
		height: 48px
		IMG
			width: 100%
			border-radius: 5px

	&__info
		flex-grow: 1
		padding-left: 20px

		&-text
			font-size: 14px

	&__header
		margin-bottom: 10px
		&-name
			font-size: 16px
			color: $cGrayDText
			font-weight: bold
			margin-right: 5px

			&.offline
				&:after
					content: ""
					display: inline-block
					width: 8px
					height: 8px
					border-radius: 50%
					background-color: $cRed
					margin-left: 3px

			&.online
				&:after
					content: ""
					display: inline-block
					width: 8px
					height: 8px
					border-radius: 50%
					background-color: $cGreen
					margin-left: 3px

		&-time
			display: inline-block
			background-color: #ebebeb
			border-radius: 8px
			padding: 0 8px
			height: 16px
			line-height: 16px
			font-size: 12px
			color: $cGrayD

