// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont:  Arial, sans-serif;
$titleFont:  Arial, sans-serif;


// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------
$maxW: 1400px;
$minW: 320px;

$screenXL: 1800px;
$screenLL: 1500px;
$screenLS: 1380px;

$screenM: 1288px;
$screenMM: 1168px;
$screenMS: 1020px;

$screenSL: 960px;
$screenSM: 860px;
$screenS: 767px;
$screenSS: 630px;
$screenXS: 480px;


$wrapperM-padd: 30px;
$wrapperS-padd: 25px;
$wrapperSS-padd: 15px;

$screenWrapperBreak: $screenM + ($wrapperM-padd * 2);

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cGreen: #18e28f;   // Main green
$cBlue: #16171a;   // Main dark blue
