// ----------------------------------------------------------------------
// Font variables
// ----------------------------------------------------------------------

$baseFont:  Arial, sans-serif;
$titleFont:  "Lato", sans-serif;


// ----------------------------------------------------------------------
// Animation speed
// ----------------------------------------------------------------------
$t150: 150ms;
$t300: 300ms;
$t600: 600ms;

// ----------------------------------------------------------------------
// Layout sizes
// ----------------------------------------------------------------------
$maxW: 1600px;
$minW: 1000px;

$screenXL: 1600px;
$screenL: 1400px;
$screenM: 1200px;
$screenS: 1000px;

$wrapper-padd: 30px;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$cBgGray: #f0f0f0;
$cGrayDText: #4b4b4b;
$cGrayD: #777777;
$cGray: #b4b4b4;
$cRed: #c11718;
$cRedD: #b02e2e;
$cRedL: #cc4040;
$cGreen: #9bbc33;
$cGreenL: #b6cd6a;
