@import "_header"
@import "_footer"

// ----------------------------------------------------------------------
// Example:
// .page.page-****
//    .page-inner
//        .header
//        .page-body
//        .footer
//     popups, sidemenus, other stuff
// ----------------------------------------------------------------------

.page-wrap


.page
    position: relative
    z-index: 1


.page-body


.wrapper
    position: relative
    margin: 0 auto
    max-width: $maxW
    min-width: $minW
    padding: 0 $wrapperM-padd

    +max-screen($screenSL)
        padding-left: $wrapperS-padd
        padding-right: $wrapperS-padd

    +max-screen($screenSS)
        padding-right: $wrapperSS-padd
        padding-left: $wrapperSS-padd

.wrapper-inner
    display: block
    width: auto
    margin-left: -$wrapperM-padd
    margin-right: -$wrapperM-padd

    +max-screen($screenSL)
        margin-left: -$wrapperS-padd
        margin-right: -$wrapperS-padd

    +max-screen($screenSS)
        margin-left: -$wrapperSS-padd
        margin-right: -$wrapperSS-padd
